.liveclass .liveclass-video {
    background: #F2F5F8;
    border-radius: 2px;
    height: 342px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.liveclass .liveclass-video.group {
    height: 213px;
}
.liveclass .liveclass-video .chat-item {
    padding: 7px 5px 7px 50px;
    position: relative;
}

.liveclass .liveclass-video .chat-item:hover {
    background: #DEE2E7;
}

.liveclass .liveclass-video .chat-item:hover .chat-item-name {
    color: #0A5C8F;
}

.liveclass .liveclass-video .chat-item .chat-item-img {
    position: absolute;
    top: 10px;
    left: 12px;
}

.liveclass .liveclass-video .chat-item .chat-item-img img {
    width: 25px;
    height: 25px;
    border-radius: 100px;
}

.liveclass .liveclass-video .chat-item .chat-item-name {
    font-size: 14px;
    color: #828282;
    font-weight: 500;
}

.liveclass .liveclass-video .chat-item .chat-item-text {
    font-size: 14px;
}

.liveclass .liveclass-video-box .form-control {
    font-size: 14px;
    background: #DEE2E7;
    border: none;
    height: calc(1.5em + 0.75rem + 9px);
}

.liveclass .liveclass-video-box .form-control:focus {
    box-shadow: none !important;
}

.liveclass .liveclass-video-box .input-group-text {
    background: #DEE2E7;
    border: none;
}

.input-group-prepend {
    position: relative;
}

.input-group-prepend .emoji-group {
    position: absolute;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    width: 252px;
    height: 150px;
    bottom: 50px;
    left: 10px;
    z-index: 10;
    background: #fff;
}

.emoji-item {
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    font-size: 34px;
    border-radius: 4px;
    cursor: pointer;
}

.emoji-item:hover {
    background: #FAFAFA;
}

.header-chat{
    background-color: rgba(239, 239, 244, 1);
    border-radius: 8px 8px 0px 0px;
    padding: 16px 0 32px 16px;
    position: relative;
}
.header-text{
    font-size: 14px;
    font-weight: bold;
    color: rgba(58, 58, 60, 1);
    float: left;
    padding-right: 40px;
}
.header-chat img{
    width: 20px;
    margin-right: 15px;
    float: right;
}

.expire-time{
    font-size: 12px;
    color: white;
    padding: 5px 0 6px 15px;
    height: 28px;
    background-color: rgba(251, 131, 49, 1);
}